body {
    background: #272b36;
    background: url(asset/bg-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
  }
  
  .container {
    /* background: #2f3340; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */

    background: rgba(255, 255, 255, 0.2); /*Transparansi*/
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Efek bayangan */
    backdrop-filter: blur(10px); /* Efek blur */
    -webkit-backdrop-filter: blur(10px); /* Untuk browser berbasis WebKit */
    
    padding: 50px;
    padding-top: 45px;
    padding-bottom: 30px;
    border-radius: 50px;
    width: 350px;
  }
  
  .profile-image {
    /* display: flex; */
    border: 4px solid #ffffff;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
    object-fit: cover;
  }
  
  .name {
    color: #fff;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .description {
    color: #fff;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .button {
    background: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    /* display: bloclk; */
    margin: 0 auto;
    transition: background 0.3s ease;
  }
  
  .button:hover {
    background: #efb6b2;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  
  .social-links a {
    display: inline-block;
    margin: 0 10px;
    /* color: #fff; */
    transition: all 0.5s ease;
    border-radius: 10px;
  }

  .social-links a:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    background: #2f3340;
    /* transform: scale(1.5); */
  }
    
  /* responsive */

  @media (max-width: 768px) {
    .container {
      padding: 40px;
      padding-top: 35px;
      padding-bottom: 25px;
      border-radius: 50px;
      width: 330px;
    }

    .social-links a {
      transition: none;
    }

    .social-links a:hover {
      box-shadow: none;
      padding: 0px;
      background: none;
      /* transform: scale(1.5); */
    }
  }

  @media (max-width: 480px) {
    .container {
      padding: 25px;
      padding-top: 25px;
      padding-bottom: 30px;
      border-radius: 50px;
      width: 300px;
    }

    .social-links a {
      transition: none;
    }

    .social-links a:hover {
      box-shadow: none;
      padding: 0px;
      background: none;
      /* transform: scale(1.5); */
    }
  }