@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}
h1,
p {
  margin: 0;
}
h1 {
  font-size: 1.5rem;
}
p,
a {
  font-size: 1rem;
}
.container {
  background: url("asset/bg-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: grid;
  align-items: center;
  background-position: center;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socmed {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.author {
  display: grid;
  gap: 0.75rem;
  margin-top: 1.5rem;
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #ffffff30;
  padding: 1%;
  border-radius: 10px;
}

a.cta {
  margin-top: 2rem;
  text-decoration: none;
  color: #333;
  background: #fff;
  font-weight: bold;
  padding: 0.75rem 2rem;
  width: 150px;
  text-align: center;
  border-radius: 100px;
}

.avatar img {
  border-radius: 200px;
  border: 4px solid #ffffff;
  width: 200px;
  height: 200px;
}

/* about page  */
.about {
  height: 100vh;
  display: grid;
  gap: 1rem;
  padding: 4rem 1.5rem;
  place-content: baseline;
}
